<mat-list role="list">
  <app-test-element
    *ngFor="let item of tests; let i = index"
    [test]="item"
    (rename)="onRename(i, $event)"
    (copyClicked)="onCopy(i)"
    (delete)="onDelete(i)"
    (testLoaded)="onTestLoaded($event)"
    role="listitem"
  ></app-test-element>
  <!-- Messaggio quando non ci sono test -->
  <ng-container *ngIf="tests.length === 0">
    <p>Nessun test salvato</p> <!-- paragrafo contenente il messaggio che viene visualizzato dall’utente nel caso non ci siano test salvati nel sistem, si puo anche scrivere altro-->
  </ng-container>

</mat-list>
