p {
  color: black;
}
.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Sfondo offuscato */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* In cima a tutto */
}

.confirm-box {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
