<div class="result-section">
  <div class="scatter-section">
    <h3>Diagramma di Dispersione</h3>
    <app-scatter-diagram
      [elementValuesOrigin]="elementValues"
      (pointClicked)="scrollToQuestion($event)"
    >
    </app-scatter-diagram>
  <h3>Risultati</h3>
  <app-result-list-view
    [results]="pagedResults"
    [startIndex]="(currentPage - 1) * pageSize"
  >
  </app-result-list-view>

  <app-page-navigation
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    [currentPage]="currentPage"
    (pageChange)="onPageChange($event)"
  >
  </app-page-navigation>

  
  </div>
</div>
