.new-name {
    width: 100%;
}

::ng-deep .mat-dialog-container {
  width: 420px !important;
  max-height: 90vh;
  overflow: hidden !important;
  padding: 0 !important;
  box-sizing: border-box;
  border-radius: 8px;
}


mat-form-field {
    margin-top: 16px;
}

mat-dialog-content {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

mat-dialog-actions {
    margin-top: 16px;
}

button[mat-button], button[mat-flat-button] {
    min-width: 100px;
    font-weight: 500;
}

h2[mat-dialog-title] {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #1976d2;
    letter-spacing: 0.5px;
}
