mat-form-field {
    overflow: hidden;      /* Assicura che il contenitore non esca dai bordi */
}

.search-bar {
    width: 100%;
}

.circle-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
