mat-card-content {
  color: white; /* colore del carattere */
}

.dataset-element {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* per adattarsi su schermi piccoli */
}

.info {
  max-width: 80%;
}

.dataset-actions button {
  margin-right: 10px;
}

.dataset-actions {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
