.summary-charts {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden; /* per evitare scroll orizzontale */
}

.chart-container {
  flex: 1 1 800px; /* larghezza base 800px */
  width: 100%; /* occupa tutto lo spazio disponibile nel flex item */
  max-width: 900px; /* ma non più di 250px */
  height: auto;
  box-sizing: border-box; /* per sicurezza */
}
.chart-container p {
  text-align: center;
}
